<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Chat</title>
</head>
<body>
    <h2>Edit your Chat: <%= chat._id %></h2>
    <p>This chat was send from <b><%= chat.from %> </b> to <b> <%= chat.to %> </b> </p>

    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <textarea name="message" id="" cols="25" rows="5"><%= chat.message %></textarea><br><br>
        <button>Edit</button>
    </form>

</body>
</html>